body{
    background-color:rgb(165, 69, 255);
    font-size:20px;
    text-align: center;
}
#inputs{    
   padding: 0.6em;
}
#buttons{
    padding:0.6em;
}
#output{
    color:red;
}
#reset{
    padding:0.6em;
}
#buttons:active{
    background-color:red;
    color:rgb(43, 43, 255);
}
#reset:active{
    background-color:red;
    color:rgb(43, 43, 255);
}

